<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of Books</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body style="padding: 8px">
	<h1>Books</h1>
	<p>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Publication</th>
					<th >ISBN</th>
					<th>Price (€)</th>
					<th>Category</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="book : ${listOfBooks}">
					<td th:text="${book.getTitle()}">Title</td>
					<td th:text="${book.getAuthor()}">Author</td>
					<td th:text="${book.getPublicationYear()}">PublicationYear</td>
					<td th:text="${book.getIsbn()}">ISBN</td>
					<td th:text="${book.getPrice()}">Price</td>
					<td th:text="${book.category.getName()}">Category</td>
					<td>
						<button type="button" class="btn btn-danger" th:onclick="|window.location.href='/deletebook/${book.id}'|">Delete</button>
					</td>	
					<td>
						<button type="button" class="btn btn-secondary" th:onclick="|window.location.href='/editbook/${book.id}'|">Edit</button>
					</td>										
					</tr>
			</tbody>
		</table>	
	</p>
	<p><button type="button" class="btn btn-success" th:onclick="window.location.href='/addbook'">New Book</button></p>
</body>
</html>